body{
    background-color: #f4f4f4;
    text-align: center;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.pro{
    width: 70% auto;
    background-color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
img{
    width: 150px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.flex{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    gap: 20px;
    border-radius: 5px;
}
.kk{
    padding: 5px;
    background: lightblue;
    border-radius: 5px; 
}
.kk:hover{
    color: white;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
label{
    font-size: 20px;
}
p{
    color: green;
}